<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Weather app</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
	<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  		<h5 class="my-0 mr-md-auto font-weight-normal">The World's Weather</h5>
  		<nav class="my-2 my-md-0 mr-md-3">
   			<a class="p-2 text-dark" href="#">Main</a>
    		<a class="p-2 text-dark" href="#">Info</a>
  		</nav>
  		<a class="btn btn-outline-primary" href="#">Documentations</a>
	</div>
  <div class="container">
    
    <div class="row">
      <div class="col-4 offset-1">
        <h1>Weather in your city </h1>
        <form action="">
          <label for="city">City</label>
          <input type="text" id="city" class="form-control" name="city" placeholder="Enter city">
          <input tupe="submit" name="send" value="yznat" class="mt-2 btn btn-danger">
        </form>

      </div>
      <div class="col-4 offset-1">
        <h1>Informations</h1>
        <div class="alert alert-danger">
          Weather in Moscow
        </div>
      </div>
    </div>
  </div>

</body>
</html>